

<div class="container my-5">
    <button class="backbtn">
        <a routerLink="/admin">Back</a>
      </button>
     
    <h1 class="mb-3">Add New Car</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addcar()" novalidate>
               
                <div class="mb-3">
                    <label for="carid" class="form-label">CarId</label>
                    <input type="text" class="form-control" id="carid" name="carid" [(ngModel)]="carRequest.carid" required required minlength="3" >
                    <div *ngIf="!carRequest.carid && submitted " class="validation-message">Car Id is required.</div>

                </div>
                <div class="mb-3">
                    <label for="carimage" class="form-label">Image</label>
                    <input type="text" class="form-control" id="carimage" name="carimage" [(ngModel)]="carRequest.image">
                    <div *ngIf="!carRequest.image && submitted " class="validation-message">Car Image is required.</div>
                   
                </div>

                <div class="mb-3">
                    <label for="maker" class="form-label">Maker</label>
                    <input type="text" class="form-control" id="maker" name="maker" [(ngModel)]="carRequest.maker">
                    <div *ngIf="!carRequest.maker && submitted " class="validation-message">Car Maker is required.</div>

                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">brand</label>
                    <input type="text" class="form-control" id="brand" name="brand" [(ngModel)]="carRequest.brand">
                    <div *ngIf="!carRequest.brand && submitted " class="validation-message">Car Brand is required.</div>

                </div>
                <div class="mb-3">
                    <label for="rentalprice" class="form-label">RentalPrice</label>
                    <input type="number" class="form-control" id="rentalprice" name="rentalprice" [(ngModel)]="carRequest.rentalprice">
                    <div *ngIf="!carRequest.rentalprice && submitted " class="validation-message">Car RentalPrice is required.</div>

                </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Category</label>
                    <select name="status"  class="dropdown"  id="status" name="status" [(ngModel)]="carRequest.availability">
                        <option value="">Select Category</option>
                        <option value="Available">Available</option>
                       
                      </select>
                      <div *ngIf="!carRequest.availability && submitted " class="validation-message">Availability is required.</div>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                
        
             </form>
        </div>
    </div>
     
</div>