


  <div class="main"  >


    

    <ul class="cards">
      <ng-container  *ngFor="let item of cars">
        <li class="cards_item">
          <div class="card" >
            <div class="card_image"><img src={{item.image}}></div>
            <div class="card_content">
              <h2 class="card_title">{{item.brand}}</h2>
              <h2 class="card_title">{{item.carid}}</h2>
              <p class="card_text">{{item.maker}}</p>
              <p class="card_text">{{item.rentalprice}}</p>
              
              
              <div class="btns">
                <button class="btn card_btn update" [routerLink]="['/edit',item.id]">Update</button>
                <button class="btn card_btn  delete" (click)="deleteCar(item)" *ngIf="item.id">Delete</button>
              </div>
              
            </div>
          </div>
        </li>   

      </ng-container>
      
      
    </ul>
  </div>










